* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    width: 500px;
    border: 5px solid black;
    margin: 0 auto;
    margin-top: 50px;

}

h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* #labelgender {
    display: flex;
    flex-direction: column-reverse;

    color: red;
} */

input {
    width: 200px;

}

button {
    width: 200px;
    margin: 20px 0;
}

#activity {
    width: 200px;
}

#tabelle {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 400px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    padding: 20px;
    border: 5px solid black;
    background-color: bisque;
}

.grund {
    grid-column: 1/2;
    grid-row: 2/3;
}

.ges {
    grid-column: 1/2;
    grid-row: 3/4;
}

.kcal {
    grid-column: 2/3;
    grid-row: 1/2;
}

.kj {
    grid-column: 3/4;
    grid-row: 1/2;
}

#outputGesKcal {
    grid-column: 2/3;
    grid-row: 3/4;

}

#outputGesKj {
    grid-column: 3/4;
    grid-row: 3/4;
}

#outputGrundKcal {
    grid-column: 2/3;
    grid-row: 2/3;
}

#outputGrundKj {
    grid-column: 3/4;
    grid-row: 2/3;
}

footer {
    padding-top: 50px;
    width: 300px;
    margin: 0 auto;
}